#NAME : MOHAN TEJA
#BATCH : DATA SCIENCE & AI
#-------------------------------------------------------------------------------------------------

##1. print the input text without vowels using List Comprehensions
###input ="hai"
###Excepted output=h

In [ ]:
input="hai"
result="".join([char for char in input if char.lower() not in "aeiouAEIOU"])
print(result)

h

##2. Print only vowels from the text using List Comprehensions
###input=data
###Excepted output=dt

In [ ]:
string="data"
result="".join([i for i in string  if i.lower() not in "aeiouAEIOU"])
print(result)

dt

##3.print each value from the list with its index
###input=[10,11,50,34]
###Expected output =[100,111,502,343]

In [ ]:
values=[10,11,50,34]
add=[]
for i in range(len(values)):
  result=values[i]*10+1
  add.append(result)
print(add)

[101, 111, 501, 341]

##4. This is a Python Program to print all integers that aren't divisible by either 2 or 3 and lies between 1and 50

In [ ]:
for i in range(1,51):
  if i%2!=0 and i%3!=0:
    print(i,end =" ")

1 5 7 11 13 17 19 23 25 29 31 35 37 41 43 47 49

##5. The Program takes in an integer and prints the smallest divisor of the integer

In [ ]:
input=100
for i in range(2,input):
  if input%i==0:
    smallest = i
    break
if smallest is None:
    print("Prime Number")
else:
    print(f"Smallest Number : {i}")

Smallest Number : 2

##6. Write a python program to check if it's is a strong number or not

In [ ]:
value=100
st=str(value)
result=[]
dic={'0':1,'1': 1,'2':4,'3':6,'4':24,'5':120,'6':720,'7':5040,'8':40320,'9':362880}
for i in range(len(st)):
  result.append(dic[st[i]])
print(result)
sum=0
for j in range(len(result)):
  sum+=result[j]
print(sum)

if (value==sum):
  print("Strong Number")
else:
  print("not Strong Number")

[1, 1, 1]
3
not Strong Number

##7. Write a python program that takes input from the user and displays that input back in upper and lower case

In [26]:
string="Mohan Teja"
print(f"Upper Case  :{string.upper()}")
print(f"Lower Case: {string.lower()}")

Upper :MOHAN TEJA
Lower : mohan teja

##8. Write a python program to removes spaces from given string
###input = united states
###output = united states

In [ ]:
input="united states"
gap=" "
for char in input:
  if char == " ":
    gap=gap+""
  else:
    gap+=char
print(gap)

 unitedstates

##9. Write a python program to capitalize first and last letters of each word of a given string

In [29]:
string="mohan Teja"
result=""
for i in range(len(string)):
  if i==0 or i==len(string)-1:
    result+=string[i].upper()
  else:
    result+=string[i]
print(result)

Mohan TejA

##10. Write a python program to find lenght of a string but should not use len keyword

In [ ]:
string="Mohan Teja"
count=0
for i in string:
  count+=1
print(f"The length of {string} is {count}")

The length of Mohan Teja is 10